body {
    user-select: none;
    font-family: Verdana;
}

.section_cont {
    margin-bottom: 5px;
}
.section_hdr {
    background-color: #cccccc;
    border-radius: 4px;
    padding: 6px;
    font-weight: bold;
    margin-bottom: 4px;
}
.section_hdr[selected=true] {
    background-color: #d3a8ff;
}

.combo_sel {
    height: 25px;
    border-radius: 4px;
    margin-left: 5px;
}

.num_in_cont {
    display: inline-block;
    margin-right: 10px
}
.num_input {
    height: 27px;
    width: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    font-family: monospace;
    border: 1px solid;
    outline: none;
    box-sizing: border-box;
    vertical-align: top;
}
.num_in_btn {
    height: 27px;
    width: 27px;
    display: inline-block;
    border: solid 1px;
    text-align: center;
    line-height: 23px;
    box-sizing: border-box;
    font-weight: bold;
}
.num_in_minus {
    border-radius: 5px 0 0 5px;
}
.num_in_plus {
    border-radius: 0 5px 5px 0;
}
.in_check_cont {
    margin-bottom: 10px;
}


.ctrl_line {
    margin-bottom: 10px;
}

.t_cont {
    border: solid 1px;
    width: max-content;
    padding: 10px;
}
.t1_cont {
    border-radius: 8px 0 0 0;
}
.t2_cont {
    border-radius: 0 0 8px 8px;
}
.t_col {
    display: inline-block;
}
.t_col2 {
    border-radius: 0 8px 8px 0;
    border: solid 1px;
    padding: 10px;
    vertical-align: top;
}

.draw_canvas {
    width: 100%;
    max-width: 1200px;
}

.draw_control {
    padding: 3px;
}

.draw_col_in {
    height: 30px;
    border-radius: 4px;
    width: 100px;
    font-family: monospace;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}

.button {
    height: 30px;
    border-radius: 4px;
    width: 100px;
    font-family: monospace;
    font-size: 16px;
    text-align: center;
    border: solid 2px;
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 0 0;
    box-sizing: border-box;
    line-height: 27px;
}

.bright_in {
    width: 400px;
    margin: 0 5px 0 20px;
    vertical-align: bottom;
}

.draw_size_in {
    width: 200px;
    margin: 0 5px 0 20px;
}

.slider {
    -webkit-appearance: none;
    height: 15px;
    border-radius: 5px;  
    background: #9c9c9c;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 7px;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #00623e;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }

  .sect_ctrl
  {
    width: max-content;
    min-height: 200px;
  }

  .sect_top {
    position: relative;
    margin: 10px 0 10px 0;
  }

  .sect_disp {
    position: absolute;
    left: 420px;
    top: 5px;
  }

  .clock_col_in {
    height: 25px;
    border-radius: 4px;
    width: 100px;
    font-family: monospace;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}

.dimg_ctrl {
    display: inline-block;
    width: 500px;
    vertical-align: top;
}
.dimg_disp {
    display: inline-block;
}


.tm1_cont {
    border-radius: 8px;
}
.t_set_time {
    margin: 10px;
}
.t_col_snd {
    border: 1px solid #000000;
    border-radius: 8px;
    width: max-content;
    padding: 10px;
    margin-top: 10px;
}

.tm_btn {
    padding: 7px;
    border-radius: 10px;
    background-color: #9f9f9f;
    display: inline-block;
    margin: 0 4px 0 4px;
}
.sw_btns {
    margin: 5px 0 0 0;
}
.msec_checkbox {
    margin: 10px 0 0 0;
}

